.cell {
    height: 32px;
    width: 32px;
    font-size: 1rem;
    padding: 0; 
    cursor: pointer;
    background-color: lightgray;
}

.cell:hover {
    background-color: rgba(255, 255, 0, 0.25) !important;
}

.cell .selected-pawn {
    color: rgba(60, 255, 0, 0.685) !important;
}
.cell.movable-cell {
    background-color: rgba(60, 255, 0, 0.685) !important;
    opacity: .5;
}

.card-abso {
    position: absolute;
    min-width: 12em;
}

span{
    margin:0;
    padding: 0.2rem;
}